@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background: rgb(255,236,238);
    background: linear-gradient(142deg, rgba(255,236,238,1) 0%, rgba(223,245,255,1) 80%);
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pokedex {
    width: 400px;
    background-color: #E3313D;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pokedex h1 {
    font-size: 24px;
    color: #FFEAEF;
    margin-bottom: 20px;
}

.pokedex-screen {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    background: rgb(255,248,255);
    position: relative;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokedex-screen img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 20px;
}

.pokemon-details p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.search, .search-by-number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
}

.btn {
    padding: 10px;
    background-color: #4D4D4D;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #424242;
}

.btn-cry {
    padding: 5px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cry:hover {
    background-color: #0b7dda;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show {
    opacity: 1;
}

/* Tipos de Pokémon */
.type {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
}

.type-fire {
    background-color: #F08030;
}

.type-water {
    background-color: #6890F0;
}

.type-grass {
    background-color: #78C850;
}

.type-electric {
    background-color: #F8D030;
}

.type-ice {
    background-color: #98D8D8;
}

.type-fighting {
    background-color: #C03028;
}

.type-poison {
    background-color: #A040A0;
}

.type-ground {
    background-color: #E0C068;
}

.type-flying {
    background-color: #A890F0;
}

.type-psychic {
    background-color: #F85888;
}

.type-bug {
    background-color: #A8B820;
}

.type-rock {
    background-color: #B8A038;
}

.type-ghost {
    background-color: #705898;
}

.type-dark {
    background-color: #705848;
}

.type-normal {
    background-color: #A8A878;
}

.type-dragon {
    background-color: #7038F8;
}

.type-steel {
    background-color: #B8B8D0;
}

.type-fairy {
    background-color: #EE99AC;
}
